body {
  padding-top: 70px;
}

a:hover {
  text-decoration: none;
}

.thumbnail {
  padding: 0;
  height: 20vh;
  overflow: hidden;
  position: relative;

  &:hover img{
    filter: blur(5px);
  }
}

.thumbnail img {
  height: 100%;
  position: center;
}

.thumbnail h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);

  &:hover {
    color: white;
  }
}

.inline {
  display: flex;
  margin: 10px;
}