body {
  padding-top: 70px;
  font-family: Arial;
}

h1 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: 200;
}

a:hover {
  text-decoration: none;
}

#jumbotron {
  background-color: #dce8de;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#brand {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: 200;
  font-size: 25px;
}

.thumbnail {
  padding: 0;
  height: 20vh;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    transition: transform 300;
    transform: translateY(-2px);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transition: transform 300;
    transform: translateY(0);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }

  & h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 200; 
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.thumbnail img {
  height: 100%;
  position: center;
}

.thumbnail h3 {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.8);

  &:hover {
    color: white;
  }
}

.inline {
  display: flex;
  margin: 10px;
}

.like {
  color: black;
  font-size: 40px;

  &:hover {
    color: black;
  }
}

#title {
  font-size: 75px;
  margin-top: -8px;

  @media(max-width: 800px) {
    font-size: 50px;
  }
}

#title-btn {
  margin-top: 10px;
  margin-bottom: -15px;
}

#btn {
  margin-bottom: 10px;
}

#map {
  min-height: 40vh;
  width: 100%;
}