.strain {
  display: flex;
  flex-direction: row;

  @media(max-width: 1000px) {
    flex-direction: column;
  }
}

.strain__img {
  max-height: 40vh;
  width: auto;
}

.strain__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
}