<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Vancanna is Vancouver's first dispensary and strain review website.">
  <meta name="google-signin-client_id" content="763989485378-61scgu4a49pq627kfgd2pvevk6eru616.apps.googleusercontent.com">
  <title>Vancanna</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:200,400" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <% include navbar %>