<% include partials/header %> 
<% include partials/navbar %>

<div class="container">
  <div class="alert alert-danger text-center">
    <p>Sorry, that page doesn't seem to exist.</p>
    <a href="/">Go back to the homepage</a>
  </div>
</div>

<% include partials/footer %> 