<% include partials/header %>

<div class="col-md-6 col-md-offset-3">
  <div class="about">
    <h1 class="text-center">Vancanna is Vancouver's first dispensary & strain review application</h1>
    <p class="text-center">Vancouver is British Columbia's hub for all things cannabis. Thus, we recognize 
      that the city is in need of a map to link all of Vancouver's marijuana users with the best 
      dispensaries and strains that the city has to offer. Filtered by and for users, Vancanna has 
      all the information you need to enjoy our beautiful city to its fullest.
    </p>
    <hr>
    <h1 class="text-center">What makes us different</h1>
    <p class="text-center">Here at Vancanna, we realized that all strain review apps don't take in to 
      account the fact that even though you may have the same strain as someone else, they likely 
      have very different properties based on the conditions they were grown in. We want you to know 
      what others think of the exact same buds you will be smoking.
    </p>
    <a href="/dispensaries" class="btn btn-default about__btn">View Our Most Popular Dispensaries</a>
  </div>
</div>

<% include partials/footer %>