<% include partials/header %>

<div class="col-md-6 col-md-offset-3">
  <h1 class="text-center">About</h1>
  <h3 class="text-center">Vancanna is Vancouver's first dispensary & strain review application</h3>
  <p class="text-center">On the dispensaries page, you will find local dispensaries. Each dispensary 
    has user created reviews along with a list of strains they are currently carrying, ordered by 
    popularity. Each of the strains listed also have their own user created reviews.
  </p>
  <hr>
  <h3 class="text-center">What makes us different</h3>
  <p class="text-center">Most strain review applications are based on general experiences of different
    variations of that particular strain. Here at Vancanna, we realized that though your buds may be 
    the same strain as another, they will have grossly different chemical properties, based on growing
    conditions, storage, etc.. We want you to know what others think of the exact same buds you will 
    be smoking.
  </p>
</div>

<% include partials/footer %>