<% include partials/header %>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to VANCANNA</h1>
    <h3>Home of the best dispensaries and strains in Vancouver</h3>
  </div>
  <button>

  </button>
</div>

<% include partials/footer %>