<% include ../partials/header %>

<div class="container">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
    <h1 style="text-align: center;">Add New Review for <%= dispensary.name %></h1>
    <div class="well login-well">
      <p>Fields with an asterisk are required.</p>
      <form action="/dispensaries/<%= dispensary._id %>/reviews" method="POST">
        <div class="form-group">
          <input class="form-control" type="textarea" name="text" placeholder="Text *" autocomplete="off" required>
        </div>
        <div class="form-group">
          <select name="rating" class="form-control">
            <option value="1">&#9733;</option>
            <option value="2">&#9733; &#9733;</option>
            <option value="3">&#9733; &#9733; &#9733;</option>
            <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
            <option value="5" selected="selected">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-success btn-block">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>