<% include ../partials/header %>

<div class="container">
  <h1 class="text-center"><%= user.username %></h1>
  <p class="text-center">RP: <%= (user.points) ? user.points : 0 %></p>
  <% if(user.admin == true) { %>
    <p class="text-center">Admin</p>
  <% } %>
  <% if(user.moderator == true) { %>
    <p class="text-center">Moderator</p>
  <% } %>
</div> 

<% include ../partials/footer %>