<% include ../partials/header %>

<div class="container">
  <h1><%= user.username %></h1>
  <p>Review points: <%= user.points %></p>
  <% if(user.admin == true) { %>
    <p>Admin</p>
  <% } %>
  <% if(user.moderator == true) { %>
    <p>Moderator</p>
  <% } %>
</div>

<% include ../partials/footer %>